<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>MiniProjetEcommerce_MVC</display-name>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/mvc</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <filter>
    <filter-name>Filter</filter-name>
    <filter-class>controllers.Autorisation</filter-class>
  </filter>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>controllers.Login_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signup</servlet-name>
    <servlet-class>controllers.Signup_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>detail</servlet-name>
    <servlet-class>controllers.Controleur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>detail</servlet-name>
    <url-pattern>/controleur</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/controleur</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>addcart</servlet-name>
    <servlet-class>controllers.Panier_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcart</servlet-name>
    <url-pattern>/addcart</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/addcart</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>addcmd</servlet-name>
    <servlet-class>controllers.Cmd_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcmd</servlet-name>
    <url-pattern>/cmd</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/cmd</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ls_ar</servlet-name>
    <servlet-class>controllers.Article_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ls_ar</servlet-name>
    <url-pattern>/lsar</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/lsar</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ls_cmd</servlet-name>
    <servlet-class>controllers.Cmd_controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ls_cmd</servlet-name>
    <url-pattern>/lscmd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ls_client</servlet-name>
    <servlet-class>controllers.Client_cntl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ls_client</servlet-name>
    <url-pattern>/lsclient</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/lsclient</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>lscat</servlet-name>
    <servlet-class>controllers.Categor_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>lscat</servlet-name>
    <url-pattern>/cat</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/cat</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>orders</servlet-name>
    <servlet-class>controllers.Cmd_list</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>orders</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/order</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>add</servlet-name>
    <servlet-class>controllers.Add_ar_file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>controllers.Homme_cnt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>home_ad</servlet-name>
    <servlet-class>controllers.Admin_cntl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home_ad</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
</web-app>